[live]
cli.allowed_users.YourUsername = "vagrant"

customer.password_hash_salt = "e883fzqzAjN9ZU3BGAyMGLD6kf5Q4CZTmGdTSese2hEJPvtDSMJG8dKZgHnXGfjKtSvtRfZ7jULnT4XwQz6ABhpdEty9p26ufkP8EhjNSYu6dQwEHcvEuD7x"

[staging : live]

[dev : live]